ul {
  list-style: none;
  font-size: 14px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
  li + li {
    padding-left: 10px;
  }
  li :hover {
    cursor: pointer;
  }
}
